:root{
    --main-color:#00ff0a;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.contener{
    padding-top: 20px;
    padding-left: 20px;
    margin:auto;
    width: 100%;
}
.clear-fix{
    clear: both;
}
    
/* start sitting box */
.sitting-box{
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    min-height: 100vh;
    z-index: 100;
    background-color: hsl(206deg 96% 10%);
    transition: 0.5s ease all;
}
.sitting-box.open{
    left: 0px;
}
.but-Done{
    background: none;
    border: none;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    margin-left: 140px;
    font-size: 20px;
}
hr{

}
.sitting-box i{
    position: absolute;
    right: -30px;
    top: 114px;
    padding: 5px;
    cursor: pointer;
    background: hsl(206deg 96% 10%);
    color: white;
    text-align: center;
    font-size: 20px;
    width: 30px;
}
.sitting-box .contant{
    color: aliceblue;
    font-size: 20px;
    padding: 0px;
    text-align: center;
    margin: 10px;
    border: 1px solid;
}
.color-bar{
    list-style: none;
    padding: 0;
}
.color-bar li{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}
.color-bar li.act{
    opacity: 1;
    border: 2px solid white;
}
.color-bar li:first-child{
    background-color: #00ff0a;
}
.color-bar li:nth-child(2){
    background-color: #e11d74;
}
.color-bar li:nth-child(3){
    background-color: #440047;
}
.color-bar li:nth-child(4){
    background-color: #fbecec;
}
.color-bar li:nth-child(5){
    background-color: #8fc0a9;
}
.color-bar li:nth-child(6){
    background-color: #c8d5b9;
}
.color-bar li:nth-child(7){
    background-color: #3b5249;
}
.color-bar li:nth-child(8){
    background-color: #ffd571;
}
.color-bar li:nth-child(9){
    background-color: #cdb30c;
}
.color-bar li:nth-child(10){
    background-color: #f09ae9;
}
.random-background{
    color: aliceblue;
    font-size: 16px;
    padding: 0px;
    text-align: center;
    margin: 10px;
    border: 1px solid;
}
.random-background .span-random{
    padding: 10px;
}
.random-background .span-random span{
    border: 1px solid;
    padding: 0px 10px 0 10px;
    background: #ff7b7b;
    opacity: 0.5;
    cursor: pointer;
}
.random-background .span-random span.active{
    opacity: 1;
}
/* end sitting box */

/* start bublle */
.bublle{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 20px;
    height: 117px;
    z-index: 1;
}
.bublle-con{
    border:2px solid var(--main-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}
.bublle-con:hover .textno{
    display: block;
}
.bublle-con .textno{
    width: 100px;
    background-color: var(--main-color);
    padding: 3px 4px 3px;
    position: absolute;
    right: 37px;
    top: -4px;
    color: aliceblue;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.bublle-con .textno::before{
    content: '';
    border-style: solid;
    border-width: 11px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -22px;
    top: 1px;
}

/* end bublle */

/* start landing page */
.landing-page{
    min-height: 100vh;
    background-image: url('../img/1.jpg');
    background-size: cover;
    position: relative;
}
.cover{
background-color: #0000006e;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 1;
}
.layout{
    position: relative;
    z-index: 2;
    color: azure;
    display: flex;
}
.layout .logo{
    width: 300px;
    font-size: 30px;
    padding: 13px;
}
.logo span{
    color: var(--main-color);
}
.layout .list{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0;
    padding-right: 22px;
    transition: 1s all ease;
}
.layout .list.on{
    display: block;
}
.layout .list li{
    display: inline-block;
    margin-left: 30px;
    
}
.layout .list li a{
    text-decoration: none;
    font-size: 25px;
    color: azure;
}
.layout .list li a:hover,
.layout .list li a.active{
    color: var(--main-color);
    transition: 1s all ease;
    
}
.Nav-bar{
    width: 40px;
    height: 40px;
    background-color:var( --main-color);
    position: fixed;
    right: 16px;
    top: 13px;
    visibility: hidden;
}
.Nav-bar::before{
        content: '\f0c9';
        font-size: 20px;
        font-family: "fontAwesome";
        position: absolute;
        top: 17%;
        left: 0;
        height: 40px;
        width: 40px;
        text-align: center;
        color: aliceblue;
        cursor: pointer;
}
.Nav-bar.activ::before{
    content: 'X';
}
.text{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    z-index: 1;
    line-height: 1.5;
}
.text p {
    font-size: 20px;
}
.text h1 {
    
}
.text h1 span {
    color: var(--main-color);
    transition: 1s all ease;
}
.bu-read{
    background: none;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-color: var(--main-color);
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    transition: 1s all ease;
}
.btn:hover{
    background-color: black;
}

/* end landing page */
/* start About Us section */
.About-box{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.About-box .info{
    flex: 1;
}
.About-box .info h2{
    color: var(--main-color);
    font-size: 30px;
    font-weight:bold;
}
.About-box .info p{
    font-size: 20px;
    line-height: 1.5;
    color: #323232;
    margin: 0;
    opacity: 0;
    transition: 2s all ease;
}
.About-box .img-box{
    flex: 1;
    text-align: center;
}
.About-box .img-box img{
    width:  355px;
    filter: grayscale(100%);
    transition: 2s all ease;
}
/* end About Us section */
/* start skills section */
.ourskils{
    padding-top: 20px;
    padding-bottom: 50px;
    background: #e6e6e6;
}
.ourskils h2{
    color: var(--main-color);
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}
.skills-box{
    background:#fff;
    display: flex;
    padding: 15px; 
    margin-bottom: 15px;
}
.ourskils .skills-box .skill-name{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    width: 150px;
    
}
.skills-box .prograss{
    width: 100%;
    height: 23px;
    background: #EEE;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.skills-box .prograss span{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 0%;
    height: 100%;
    transition: 3s all ease;
}

/* end skills section */
/* start Galary section */
.galary-box{
    padding: 15px; 
    margin-bottom: 15px;
}
.galary-box .galary-info{

}
.galary-box .galary-info h2{
    color: var(--main-color);
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}
.imge-box{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    width: 100%;
}
.imge-box img{
    width: 300px;
    padding: 5px;
    background-color: khaki;
    border: 1px solid black;
    cursor: pointer;
}
.popcover{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.pop-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: khaki;
    border: 1px solid black;
    padding: 5px;
    z-index: 1001;
}
.pop-box img{
    max-width: 100%;
}
.pop-box h2{
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
    color: var(--main-color);
    position: relative;
}
.pop-box .buttonn-pop{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: aliceblue;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 7px;
    border-radius: 50%;
}
/* end Galary section */
/* start media modile web */
@media(max-width:648px){
    .landing-page{
        position: relative;
        background-position: center;
    }
    .list{
        background-color: black;
        position: fixed;
        top: -15px;
        left: 0;
        display:none;
        height: 100%;
    }
    .layout .list li{
        line-height: 91px;
        display: grid;
        text-align: center;
        margin-top: 17px;
    }
    .layout .list li a {
        margin: 10px;
    }
    .layout .list li a:hover {
        background-color: #fae0e0a1;
    }
    .Nav-bar{
        visibility:visible;
    }
    .logo{
        min-width: 174px;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    .About-box{
        display: grid;
    }
    .info{
        text-align: center;
    }
    .About-box .img-box img{
        width: 100%;
    }
    .contener{
        padding-top: 0px;
        padding-left: 0px;
    }
    .pop-box img{
        min-width: 100%;
    }
}
/* end media modile web */
/* start testmonaiols */
.testmonials{
    min-height: 600px;
    position: relative;
}
.testmonials::before{
    content: '';
    width: 50%;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.testmonials::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
}
.testmonials h2{
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
    color: aliceblue;
    position: relative;
    z-index: 2;
}
.testmonials .ts-list{
    position: relative;
    z-index: 2;
    width: calc(96%);
    margin-bottom: 20px;
    float: left;
    background: aliceblue;
    padding: 20px;
    font-size: 20px;
}
.testmonials .ts-list:not(:last-of-type){
    margin-right: 1%;
}
.testmonials .ts-list > p{
    font-size: 18px;
    font-style: italic;
    color: #9b9b9b;
    margin: 0 0 27px;
    line-height: 1.5;
}
.ts-info{
    overflow: hidden;
}
.ts-info img{
    float: left;
    border-radius: 50%;
    margin-right: 18px;
    width: 80px;
}
.ts-info h4{
    margin: 14px 0 5px;
    font-weight: bold;
}
.ts-info p{
    margin: 0;
    color: #818181;
    font-family: cursive;
}

/* end testmonaiols */
